pkgbase = waydroid-magisk-git
	pkgdesc = Magisk Delta manager for Waydroid
	pkgver = v1.2.4.r48.g4f1001b
	pkgrel = 1
	url = https://github.com/nitanmarcel/waydroid-magisk
	arch = any
	license = GPL3
	makedepends = git
	depends = waydroid
	depends = python
	depends = dbus-python
	source = waydroid-magisk::git+https://github.com/nitanmarcel/waydroid-magisk.git
	sha256sums = SKIP

pkgname = waydroid-magisk-git
