pkgbase = wasi-sdk-bin
	pkgdesc = WASI-enabled WebAssembly C/C++ toolchain
	pkgver = 24.0
	pkgrel = 1
	url = https://github.com/WebAssembly/wasi-sdk
	arch = aarch64
	license = Apache-2.0
	options = staticlibs
	options = !strip
	source = https://github.com/WebAssembly/wasi-sdk/releases/download/wasi-sdk-24/wasi-sdk-24.0-arm64-linux.tar.gz
	b2sums = 5067fe0d63a8be0e3466131a7f1e0a92185e09879e5256b8d12428606920fb074198d7c5b4f949466f5179852f53911333baf8fb2409068de4a9a6c4d62bbd96

pkgname = wasi-sdk-bin
